Django>=1.6,<1.7
ims_lti_py
lxml
oauth2
requests
django-crispy-forms
django-cached-authentication-middleware>=0.2.0
django-debug-toolbar

git+ssh://git@github.com/penzance/django-auth-lti.git@master#egg=django-auth-lti