{% extends "icommons_ui/base_lti.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block stylsheet %}
{{ block.super }}
  <style type="text/css">
  #add_user_form { margin-left: 10px; margin-top: 10px; max-width: 80%;}
  .location-box { border: thin solid lightgrey; margin: 10px 10px; padding: 10px 10px;}
  .text-box { margin: 10px 10px; padding: 10px 10px;}
  legend { border-bottom: 0; }
  </style>
 {% endblock %}

{% block content %}

<div id="add_user_form">

      <p class="text-box">
        <a href="{% url 'sl:user_edit_view' %}">Edit My Information</a>&#160;|&#160;
        <a href="{% url 'sl:main' %}">View Map</a>&#160;|&#160;
        <a href="{% url 'sl:table_view' %}">View Table</a>
      </p>

{% crispy form %}

</div>

{% endblock %}